<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pragma.embd.noteit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pragma.embd.noteit.LoginScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="pragma.embd.noteit.MainScreenActivity"/>
        
        <activity
            android:name="pragma.embd.noteit.CreateNotesScreenActivity"/>
        
        <activity
            android:name="pragma.embd.noteit.CreateReminderScreenActivity"/>
        
        <activity
            android:name="pragma.embd.noteit.HistoryScreenActivity"/>
        
        <activity
            android:name="pragma.embd.noteit.NotesListScreenActivity"/>
        
        <activity
            android:name="pragma.embd.noteit.ReminderListScreenActivity"
            android:screenOrientation="landscape"/>
        
        <activity
            android:name="pragma.embd.noteit.NotesDetailsScreenActivity"/>
        
        <activity
            android:name="pragma.embd.noteit.ReminderDetailsScreenActivity"/>
        
        
        
        
        
    </application>

</manifest>
